
#booking{
	
    margin: auto;
    width: 66%;
    height: 60%;
    border: 3px white;
    padding: 10px;
	background-color: #F1C40F;

}
#tabs{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #F1C40F;
     border: 3px white;
    height: 8%;
    width: 66%;
    padding: 10px;
}

.combo{

color: black;
height: 30px;
width: 230px;
font-size: 15px;
font-family: Helvetica;
font-weight: bold;
border-radius: 5px;
}

/*
Nav bar
*/
ul {
    

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

li {
    float: left;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-weight: bolder;



}

li a:hover {
    background-color: #ACAE9E;
}

#log a:hover{
	color: #ACAE9E;
}

a{
	text-decoration: none;
    color: #48D0EC;
    text-decoration: none;
    font-weight: bolder;
}

label{
    font-family: Helvetica;
    font-size: 20px;


}

input[type=text] {
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
    height: 30px;
}
input[type=text].departure{
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    height: 30px;

}
#age{
    font-family: Helvetica;
    font-size: 20px;
    color: black;
}
input[type=submit]{
    border-radius: 8px;
    background-color: #4D5656  ;
    height: 10%;
    width: 16%;
    color: white;
    font-size: 20px;
}
a.tab1{
    text-decoration: underline;
    color: #2C3E50;
    font-family: Helvetica;
    font-size: 20px;
}



a.tab1:hover{

    color: white;
}


