#booking{
	
    margin: auto;
    width: 70%;
    height: 60%;
    border: 3px white;
    padding: 10px;
	background-color: #F6FF33;

}

.country{


		color: black;
		font-size: 25px;	
		text-align: center;
}

#log{
	float: right;
}

#from{

    position: absolute;
    left: 350px;
    padding: 10px;
	top: 180px;

}
#to{

    position: absolute;
    right: 490px;
    padding: 10px;
	top: 180px;

}
#dept{

    position: absolute;
    top: 270px;
	left: 350px;
    padding: 10px;

}
#ret{

    position: absolute;
    top: 270px;
	right: 465px;
    padding: 10px;

}
#age{
	
	position: absolute;
    top: 350px;
	right: 690px;
    padding: 10px;

	
}
#adult{
	 position: absolute;
    top: 380px;
	left: 360px;
    padding: 10px;
}
#child{
	 position: absolute;
    top: 380px;
	left: 560px;
    padding: 10px;
}
#infant{
	position: absolute;
    top: 380px;
	left: 760px;
    padding: 10px;
}
.combo{

color: black;
height: 20px;
width: 150px;
font-size: 15px;

}
#button1{
	position: absolute;
    top: 500px;
	left: 635px;
    padding: 10px;
}



/*
Nav bar
*/
ul {
    

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

li {
    float: left;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-weight: bolder;



}

li a:hover {
    background-color: #ACAE9E;
}

#log a:hover{
	color: #ACAE9E;
}

a{
	text-decoration: none;
    color: #48D0EC;
    text-decoration: none;
    font-weight: bolder;
}